/* blog list */
.blog-list {
    max-width: 800px;
    margin: 12px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 20px;
}

.blog-preview {
    /* grid: 2fr 1fr; */
    padding: 4px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #fafafa;
    /* height: 300px; */
    justify-content: space-between;
}

/* .blog-preview:hover {
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
} */

.blog-header h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.blog-link {
    text-decoration: none;
    color: var(--primary);
}

.blog-header {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    flex-direction: row;
}

time {
    display: flex;
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
    padding: 5px;
}

.blog-excerpt p {
    display: grid;
    font-size: 18px;
    color: #666;
    font-weight: 600;
    margin-bottom: 5px;
    padding: 5px;
    /* display: block; */
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    max-height: 100%;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

.blog-excerpt p * {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.blog-excerpt .arabic {
    direction: rtl;
    text-align: right;
}

.blog-meta {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    color: #666;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

.blog-meta .author-link {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #666;
    margin-right: 15px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.blog-meta p {
    margin-right: 15px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.blog-meta p::before {
    content: "";
    width: 16px;
    height: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 10px;
    margin-left: 5px;
    padding: 2px;
}

.likes-count {
    background-color: transparent;
    border: none;
    color: #666;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 5px;
    margin-right: 15px;
    padding: 0;
}

.likes-count::before {
    content: "";
    width: 16px;
    height: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 10px;
    margin-left: 5px;
    padding: 2px;
}

.created-at {
    color: #666;
    font-weight: bold;
    font-style: italic;
    text-align: right;
    font-size: 14px;
}

.author {
    font-family: 'Roboto', sans-serif;
}

.comms-count {
    background-color: transparent;
    border: none;
    color: #666;
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 5px;
    margin-right: 15px;
    padding: 0;
}

@media screen and (max-width: 600px) {
    .blog-preview {
        margin-left: 4px;
        margin-right: 4px;
    }

    .space-page .blog-list {
        grid-template-columns: 1fr;
    }
}