/* create page */
h4 {
    font-size: 24px;
    color: var(–primary);
    margin-bottom: 20px;
    text-align: center;
}

.create {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.create div {
    display: flex;
    /* max-width: 700px; */
    height: 100%;
    /* padding: 4px; */
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.create form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* max-width: 700px; */
    height: 100%;
}

.create label {
    font-size: 16px;
    color: var(–primary);
    margin-bottom: 10px;
}

.create input,
.create textarea,
.create select {
    width: 80%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.create input:focus,
.create textarea:focus,
.create select:focus {
    outline: none;
    border-color: var(–primary);
    box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.create .title-input {
    font-size: 20px;
    font-weight: bold;
}

.create .body-textarea {
    height: 300px;
    resize: none;
}

.create .space-list {
    font-size: 14px;
    color: #666;
}

.create button {
    width: 200px;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    border: 1px solid #ddd;
    background-image: linear-gradient(to right, var(–primary), var(–secondary));
}

.create button:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.create button:focus {
    outline: none;
    box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.create button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
    background-image: none;
    box-shadow: none;
}

@media screen and (max-width :768px) {
    .create {
        grid-template-columns: 1 fr;
    }
}

@media screen and (max-width: 600px) {
    .create {
        max-width: 90%;
    }

    .create input,
    .create textarea,
    .create select {
        width: 95%;
    }

    .create button {
        width: 150px;
    }

    .space-list label {
        font-size: 12px;
    }

    .space-list {
        flex-wrap: wrap;
        margin: 10px 0;
        padding: 5px;
    }

}