.like-button {
  display: flex;
  content: "favorite";
  font-family: "Quicksand";
  background-color: transparent;
  border: none;
  margin: 0%;
  padding: 8px;
  width: auto;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition: transform 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.like-button:hover {
  transform: scale(0.9);
}