/* navbar */
.navbar {
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
    color: var(--primary);
    font-size: 1.5rem;
    margin-right: 16px;
    flex-shrink: 0;
}

.navbar .username {
    font-weight: bold;
}

.navbar .links {
    margin-left: auto;
}

.navbar a,
button {
    text-decoration: none;
    background: #fff;
    color: var(--font-color);
    padding: 8px 16px;
    border-radius: 8px;
    font-family: "Poppins";
    cursor: pointer;
    font-size: 1rem;
    margin-left: 16px;
}

.navbar a:hover {
    color: var(--primary);
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.navbar button:hover {
    color: var(--red);
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.notification-menu {
    position: absolute;
    width: 200px;
    height: inherit;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.notification-menu-header {
    padding: 10px;
    background-color: lightgray;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.notification-menu-body {
    display: flex;
    flex-direction: column;
    list-style: none;
    height: 180px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-y: overlay;
    padding: 10px;
    flex-wrap: nowrap;
    align-items: center;
}

/* add this code to make the icons bigger */
.navbar svg {
    width: 24px;
    height: 24px;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-wrap: wrap;
        justify-content: center;
    }

    .navbar h1 {
        margin-right: 0;
        margin-bottom: 16px;
    }

    .navbar .links {
        margin-top: 16px;
    }

    .navbar a,
    button {
        margin: 8px;
    }
}

@media screen and (max-width: 600px) {
    .navbar {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
    }

    .navbar h1 {
        font-size: 1.2rem;
    }

    .navbar .username {
        font-size: 0.8rem;
    }

    .navbar a,
    button {
        padding: 4px;
        margin: 4px;
        font-size: 0.8rem;
    }

    .navbar svg {
        width: 16px;
        height: 16px;
    }
}

/* @media screen and (max-width: 480px) {

    .navbar a,
    button {
        padding: 8px;
        font-size: 0.8rem;
    }
} */