/* user list */
.user-list {
  max-width: 800px;
  margin: 0 auto;
}

.user-list h2 {
  font-size: 24px;
  color: var(--color-primary);
  margin-bottom: 30px;
  text-align: center;
}

.user-list li {
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
  list-style: none;
  margin: 0 50px 50px;
  display: flex;
  align-items: center;
}

.user-list li:hover {
  box-shadow: 2px 4px 8px var(--color-shadow-light);
  background: var(--color-bg-hover);
}

.user-list li a {
  text-decoration: none;
  color: var(--color-primary);
}

.user-list li .username {
  font-weight: bold;
  font-size: 18px;
  margin-right: 20px;
}

.user-list li .counts-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: var(--color-muted);
  flex-grow: 1;
}

.counts-container p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: var(--color-muted);
  display: flex;
  align-items: center;
}

.count-label {
  font-weight: bold;
  margin-right: 5px;
}

.counts-container p::before {
  content: "";
  width: 16px;
  height: 16px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 10px;
  margin-left: 5px;
  padding: 2px;
}

.user-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

@media screen and (max-width: 600px) {
  .user-list li {
    flex-direction: column;
  }

  .user-list li .username {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .user-list li .counts-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .counts-container p {
    margin-bottom: 5px;
  }
}