/* user profile */
.user-profile {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-profile h1 {
  font-size: 32px;
  color: #0a684e;
  margin-bottom: 20px;
}

.user-profile h2 {
  font-size: 24px;
  color: #0a684e;
  margin-bottom: 10px;
}

.user-profile .user-information {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.user-profile .user-information p {
  font-size: 18px;
  margin: 0;
  margin-bottom: 10px;
}

.user-profile .user-information p:first-child {
  font-weight: bold;
  margin-bottom: 20px;
}

.user-profile .user-information p:last-child {
  margin-bottom: 0;
}

.user-profile .user-information span {
  font-weight: bold;
  margin-right: 10px;
}

.user-profile .user-information .date {
  font-style: italic;
}

.user-information {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
}

.user-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  gap: 50px
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.card-header button {
  background-color: #00a0d2;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.follow {
  background-color: #00a0d2;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}

.follow:hover {
  background-color: #008fb3;
}

.follow:disabled {
  background-color: #ccc;
}

/* User spaces list */
.user-spaces-list {
  display: flex;
  flex-wrap: nowrap;
  scroll-behavior: auto;
  gap: 10px;
  overflow-y: scroll;
  height: 300px;
  margin: 10px 0;
  flex-direction: column;
}

/* User space */
.search-curr-spaces {
  padding: 10px;
  width: 59%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.space {
  width: 200px;
  height: 100px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

/* User space link */
.space-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  /* height: 100%; */
  text-decoration: none;
  color: var(--primary);
}

/* User space link hover effect */
.space-link:hover {
  background-color: #f2f2f2;
}

@media screen and (max-width: 600px) {
  .user-profile {
    max-width: 100%;
    flex-direction: column;
    justify-content: space-around;
  }

  .user-info {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .user-profile h1 {
    font-size: 24px;
  }

  .user-profile h2 {
    font-size: 18px;
  }
}