@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  /* margin: 0; */
  font-family: "Quicksand";
  color: #333;
}

:root {
  --primary: #1aac83;
  --primary-hover: #20dba6e6;
  --red: #e7195a;
}

.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--red);
  color: var(--red);
  border-radius: 4px;
  margin: 20px 0;
}

input.error {
  border: 1px solid var(--red);
}

.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}

